body {
    text-align: center;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    padding-top: 50px;
}

h1 {
    font-weight: bold;
    color: #333;
}

img {
    width: 300px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
}